@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
  font-family: 'Kefa', 'Merriweather', 'Helvetica', 'Calibri', 'Arial', sans-serif; 
  font-size: 1em;
  color: #707070;
}

/* Navigation */
.nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #D9EDFF;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

/* drop down  */
/* https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button */
/* https://www.a11ywithlindsey.com/blog/create-accessible-dropdown-navigation */
.dropbtn {
  background-color: transparent;
  color: #575757;
  padding: 0 60px 20px;
  font-size: 2em;
  border: none;
  /* cursor: pointer; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
  text-decoration: underline;
  color: #575757;
}

.current{
  /* width: 100px;
  margin-right: auto ;
  margin-left: auto;
  padding: 7px; */
  background-color: white;
  border-radius: 15px;
  /* text-decoration: underline; */
}

.contact, .dishes, .desserts, .favorites{
  display: none;
}

.contact:hover, .dishes:hover, .desserts:hover, .favorites:hover{
  text-decoration: underline;
}


a{
  text-decoration: none;
  color: black;
}

.nav li{
  list-style: none;
}

.nav img{
  display: none;
}

#navcon{
  background-color: #F8CABC;
}

#navdes{
  background-color: #FABF9F;
}

#navfav{
  background-color: #FFEBA5;
}

.contact{
  padding-bottom: 7px;
}

/* Content */
h1{
    font-size: 2.5em;
    font-weight: 100;
}

.content{
  padding: 160px 0 0 0;
  text-align: center;
}

.foodimages{
    padding: 20px 0 0 0;
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-row-gap: 30px;
}

.foodimages img {
    object-fit: cover;
    width: 296px;
    height: 203.5px;
    background-color: lightgrey;
}

.floating:hover {  
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  65%  { transform: translate(0, -10px); }
  100%   { transform: translate(0, 0px); }    
}

/* Footer */
footer{
    font-size: 13px;
    text-align: center;
    padding: 50px 20px 20px 20px;
}

/* Skip */
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
    text-decoration: none;
    color: #707070;
  }
  
  .skip a:focus{
    top: 10px;
    left: 10px;
  }

/* Contact Form */
.lets_talk{
    padding: 40px 0;
}

.join_meal{
    padding: 40px 0 200px 0;
}

input, textarea{
    width: 250px;
    height: 40px;
    border: 0;
    border-bottom: #707070 solid 1px;
}

input{
  margin: 0 0 20px 0;
}

.entry{
  font-family: 'Kefa';
  font-size: 1em;
}

#message{
  padding-top: 15px;
}

.entry::placeholder{
  color: #afafaf ;
  text-align: center;
}

button{
    border: #707070 solid 1px;
    background-color: #ffffff;
    padding: 5px 20px;
    margin: 20px 0 0 0;
    font-family: 'Kefa', 'Helvetica', 'Calibri', 'Arial', sans-serif;
    color: #707070;
    font-size: 1em;
}

button:hover{
    background-color: #575757;
    color: white;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -o-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}

/* Gallery */
.gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img{
  padding-top: 10px;
  padding-right: 10px;
  width: 200px;
  height: 200px;
  background-color: transparent;
}

.bean_grow:hover{
  -webkit-animation: growing_bean 3s 1;
  animation: growing_bean 3s 1;
}

@-webkit-keyframes growing_bean{
  0%, 100% {
    width: 200px;
    height: 200px;
  }
  50% {
    width: 300px;
    height: 300px;
  }
}

@keyframes growing_bean{
  0%, 100% {
    width: 200px;
    height: 200px;
  }
  50% {
    width: 300px;
    height: 300px;
  }
}

/* Join Me Animation */

.container {
  overflow: hidden;
  height: 45px;
}

.list {
  padding-left: 145px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.item {
  display: none;
}
  
@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-o-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@-moz-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12.66%, 100% {transform:translate3d(0,0,0);}
  16.66%, 29.32% {transform:translate3d(0,-25%,0);}
  33.32%,45.98% {transform:translate3d(0,-50%,0);}
  49.98%,62.64% {transform:translate3d(0,-75%,0);}
  66.64%,79.3% {transform:translate3d(0,-50%,0);}
  83.3%,95.96% {transform:translate3d(0,-25%,0);}
}

/* Flip Card */
.flip-card {
    background-color: transparent;
    width: 296px;
    height: 203.5px;
    /* perspective: 1000px;  */
  }

.flip-card:focus{
  border: #88B8DB 4px solid;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: #575757;
  }
  
  .flip-card-back {
    background-color: #FFEBA5;
    color: #575757;
    transform: rotateY(180deg);
  }

h2{
    font-size: 1.5em;
    font-weight: 100;
}

/* tablet view */
@media all and (min-width: 768px) {
  /* nav tab */
.mobile_drop{
  display: none;
}

  .nav{
    padding: 20px 10px;
    height: 100%;
    width: 70px; 
    position: fixed;
  }

  .current{
    padding: 15px;
    width: 40px;
    height: 40px;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.1);
    border: #575757 dashed 1px;
  }
  
  .nav p{
    display: none;
  }
  
  #navcon{
    background-color: #F8CABC;
  }
  
  #navdes{
    background-color: #FABF9F;
  }
  
  #navfav{
    background-color: #FFEBA5;
  }
  
  .nav img{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
  
  .contact{
    padding: 60px 0 80px 0;
    display: block;
  }
  
  
  #contact_icon .nav_hover {
    display: none;
  }
  
  #contact_icon:hover .nav_normal {
    display: none;
  }
  
  #contact_icon:hover .nav_hover {
    width: 55px;
    height:55px;
    display: block;
  }
  
  #contact_icon #contact_current{
    width: 55px;
    height:55px;
    display: block;
  }
  
  .dishes{
    padding: 15px 0;
    display: block;
  }
  
  #dishes_icon .nav_hover {
    display: none;
  }
  
  #dishes_icon:hover .nav_normal {
    display: none;
  }
  #dishes_icon:hover .nav_hover {
    width: 50px;
    height:50px;
    display: block;
  }
  
  .desserts{
    padding: 15px 0;
    display: block;
  }
  
  #desserts_icon .nav_hover {
    display: none;
  }
  
  #desserts_icon:hover .nav_normal {
    display: none;
  }
  #desserts_icon:hover .nav_hover {
    width: 50px;
    height:50px;
    display: block;
  }
  
  .favorites{
    padding: 15px 0;
    display: block;
  }  
  
  #favorites_icon .nav_hover {
    display: none;
  }
  
  #favorites_icon:hover .nav_normal {
    display: none;
  }
  #favorites_icon:hover .nav_hover {
    width: 50px;
    height:50px;
    display: block;
  }

  .foodimages{
    padding: 40px 0;
    justify-content: start;
    grid-template-columns: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 25px;
}

/* Body tab */
.content{
  padding: 80px 0 0 150px;
  text-align: left;
}

/* form tab */
.entry::placeholder{
  color: #afafaf ;
  text-align: left;
}

/* Join me animation tab*/
.item {
  display: block;
  font-size: 2.5em;
  }

.signature{
background-image: url("../images/signature.png");
background-attachment: fixed;
background-position: 90%;
background-repeat: no-repeat;
background-size: 150px auto;            
}

/* gallery tab*/
.gallery{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding-right: 30px;
  padding-left: 0;
}

}
/* end of tablet view */

/* Website View */
@media all and (min-width: 1025px){
.foodimages{
  grid-template-columns: auto auto auto;
}

.current{
  padding: 15px 50px 15px 15px;
  box-shadow: none;
  border: none;
}
}
/* End of website view */

/* Page Loader */
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5 */
/* https://tobiasahlin.com/spinkit/ */
/* .spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 200px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(153, 205, 221);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

#loading {
  padding-top: 50px;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
} */

/* Reduce Animation */
@media (prefers-reduced-motion: reduce){
.list, #loader, .floating:hover, .bean_grow:hover{
  animation: none;
}
}
