/* Navigation bar */
.nav{
    position: fixed;
    background-color: #D9EDFF;
    padding: 20px 10px;
    height: 100%;
    width: 70px; 
    position: fixed; 
    /* overflow-x: hidden;
    overflow-y: hidden; */
    /* text-align: center; */
}

.nav img{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.contact{
    padding: 40px 0 80px 0;
}

#contact_icon{
    background-image: url("../images/icons/icons_color1.png");
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s;
    -o-transition: all ease 1s;
    -ms-transition: all ease 1s;
    transition: all ease 1s;
}

#contact_icon img:hover{
    opacity: 0;

    /* transition: ease-out;
    background-image: url("../images/icons/icons_color1.png"); */
    /* display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto; */
}

.dishes{
    padding: 15px 0;
}

.desserts{
    padding: 15px 0;
}

.favorites{
    padding: 15px 0;
}

/* Content */
body{
    font-family: 'Kefa', 'Helvetica', 'Calibri', 'Arial', sans-serif; 
    /* need to change to google font in the future */
    font-size: 1em;
    color: #707070;
}

h1{
    padding: 60px 0 0 150px;
    font-size: 2.5em;
}

.foodimages{
    margin-left: 10%;
    padding: 40px 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.foodimages img {
    width: 320px;
    overflow: hidden;
}f

/* Footer */
footer{
    text-align: center;
    padding: 20px;
}